
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for purchasing a ticket, <%= @sale.customer_name %></h1>
    <p>
      This is confirmation that we have received your payment for <%= @sale.showing.movie.title %>, at <%= @sale.showing.time %>
      <br>
    </p>
    <p>
    </p>
    <p>See you at the movies!</p>
  </body>
</html>
