<div class="block">
  <ul>
    <li>
      <%= sale.id %>
    </li>
    <li>
      <%= sale.showing.movie.title %>
    </li>
    <li>
      <%= sale.customer_name %>
    </li>
    <li>
      <%= sale.customer_email %>
    </li>
  </ul>
</div> <br>
